.nav {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  background: lightgray;
  box-shadow: 0px 0px 10px gray;
}

.main {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding: 24px 16px;
  background: white;
  box-shadow: 0px 0px 10px gray;
}

.profilePic {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #7b1fa2, 0px 0px 20px #ba68c8;
  margin-bottom: 16px;
}
